@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  -webkit-touch-callout: none;
  /* iOS Safari */
  /* Safari */
  /* Konqueror HTML */
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.logo {
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  z-index: 2;
  padding: 10px;
  height: auto;
}

.logo h1 {
  font-family: 'Playball', cursive;
  color: white;
  font-size: 3.5em !important;
  padding: 0 !important;
  margin: 0 !important;
}

.logo span {
  color: white;
  font-size: 1.2em !important;
  font-weight: bold;
}

.signupFormWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

.signupForm {
  background: rgba(253, 253, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: auto;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
}

.signupForm h1, .signupForm h4 {
  font-family: 'Poppins', sans-serif;
  color: white;
  opacity: .9;
  text-shadow: 4px 4px rgba(207, 195, 195, 0.698);
}

.signupForm h1 {
  font-size: 3.5em;
}

.form-group-new {
  background: rgba(253, 253, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 60px;
  overflow: hidden;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
  background: white;
  margin-top: auto;
  margin-top: 8vh;
  margin-bottom: 3em;
}

.form-group-new input {
  opacity: .75;
  width: 71%;
  height: 100%;
  padding: 10px;
  font-size: 1.3em;
}

.form-group-new input:before {
  content: "+91";
}

.form-group-new Button {
  background: rgba(253, 253, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 29%;
  font-size: 1.5em;
  font-weight: 700;
  box-shadow: 0 0;
  color: white;
  background-color: orange;
}

.form-group-new Button:hover {
  background-color: #4BC0C8;
  transition: .2s;
}

.socialMediaLoginBar {
  width: 100%;
  margin: auto;
  margin-top: 0px;
  align-items: center;
}

.socialMediaLoginBar h4 {
  margin-bottom: 2em;
}

.socialMediaLoginBar .socialBtnList {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialMediaLoginBar .socialBtnGroup {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.socialMediaLoginBar .socialBtn {
  background: rgba(253, 253, 255, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}

.signinBtn {
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #63bfc8;
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 8px 8px orange;
}

.MainCarouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainCarousel {
  width: 100vw;
  height: auto;
}

.OTPoverlay {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  justify-content: center;
  align-content: center;
}

.OTPoverlay .wrapper {
  width: 30vw;
  height: 40vh;
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.OTPoverlay .wrapper .header {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.OTPoverlay .wrapper .header .e1 {
  font-family: Tahoma, sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: black;
}

.OTPoverlay .wrapper .header .e2 {
  margin-top: 15px;
  font-family: Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.OTPoverlay .wrapper .content {
  width: fit-content;
}

.OTPoverlay .wrapper .footer {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
}

.OTPoverlay .wrapper .footer button {
  width: auto;
  flex: 1;
  padding: 15px;
  background-color: #3996f6;
  outline: 1px solid white;
  color: white;
  font-size: 1.8em;
}

.OTPoverlay .wrapper .footer button:nth-child(1) {
  border-top-right-radius: 20px;
}

.OTPoverlay .wrapper .footer button:nth-child(2) {
  border-top-left-radius: 20px;
}

.digit-group {
  display: flex;
  flex-direction: row;
  width: fit-content;
  column-gap: 20px;
}

.digit-group input {
  width: 70px;
  height: 80px;
  line-height: 80px;
  background-color: white;
  border: 5px solid dodgerblue;
  border-radius: 15px;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

.digit-group input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.error input {
  outline: none;
  border-color: red !important;
  box-shadow: 0 0 10px red !important;
}

body {
  width: 100vw;
  height: 100%;
  background: #FEAC5E;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.mainBody {
  width: 100vw;
  flex: 1 auto;
}
/*# sourceMappingURL=main.css.map */